.hero {
  padding-bottom: 50px;
}

.hero-background {
  background-image: url("../../assets/images/bg/test_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  margin: 40px 0;
}

.hero__hours-text {
  margin: 10px 0 100px;
}
