.hero-background {
  background: linear-gradient(-5deg, #ffffff00 60%, #5800ffa1 80%),
    url("../../assets/images/bg/test_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-container {
  margin-bottom: 5%;
}

.hero-title {
  margin: 40px 0;
}

.hero__hours-text {
  margin: 10px 0 100px;
}
