.tourcard {
  border-radius: 8px;
}

.tourcard:hover {
  transform: translateY(-5px);
}

.tourcard-locations {
  grid-gap: 0 20px;
}

.tourcard-left {
  border-radius: 8px 8px 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.tourcard-right {
  background-color: var(--white);
  border-radius: 0 0 8px 8px;
}

.tourcard-info-bottom {
  height: 30px;
}

.tourcard-remarks {
  height: 70px;
}

@media (min-width: 768px) {
  .tourcard {
    flex-direction: row;
    max-width: 900px;
    margin: auto;
  }

  .tourcard-left {
    border-radius: 8px 0 0 8px;
    width: 50%;
    height: auto;
  }

  .tourcard-right {
    border-radius: 0 8px 8px 0;
    width: 50%;
  }
}
