.featuredflightcard {
  margin: 20px;
  border-radius: 3px;
}

.featuredflightcard-title {
  background-color: var(--red);
  position: absolute;
  height: 35px;
  padding: 0 10px;
  text-align: center;
}

.featuredflightcard-top {
  background-image: url("../../assets/images/bg/beach_boat_clouds_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px 3px 0 0;
}

.featuredflightcard-bottom {
  background-color: var(--white);
  border-radius: 0 0 3px 3px;
}

.featuredflightcard-height {
  height: 280px;
}

.featuredflightcard-grid {
  margin: 20px 0;
  grid-gap: 20px;
}
