.page-wrapper-container {
  position: relative;
  height: 360px;
}

.page-wrapper__description {
  background: linear-gradient(
    to right,
    var(--black-transparent) 70%,
    var(--transparent) 100%
  );
  transform: translateX(-5px);
}
