.hamburgermenu__bar {
  height: 2px;
  width: 20px;
  background: var(--white);
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.hamburgermenu__bar--top {
  transform-origin: top left;
  margin-bottom: 5px;
}

.hamburgermenu__bar--bottom {
  transform-origin: top left;
  margin-top: 5px;
}

.hamburgermenu__bar--top--open {
  transform: rotate(45deg);
  transform-origin: top left;
  margin-bottom: 5px;
}

.hamburgermenu__bar--middle--open {
  opacity: 0;
  transform: translateX(-16px);
}

.hamburgermenu__bar--bottom--open {
  transform: translateX(-1px) rotate(-45deg);
  transform-origin: top left;
  margin-top: 5px;
}

.hamburgermenu__headermenu {
  position: absolute;
  top: 18px;
  right: 5%;
  background-color: var(--white);
  height: 80%;
  width: 90%;
  opacity: 0;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  z-index: -1;
}

.hamburgermenu__headermenu--open {
  opacity: 1;
  z-index: 1;
}
