.footer {
  background: linear-gradient(0deg, #ff00f7a1 3%, #b914cc 100%),
    url("../../assets/images/bg/beach_boat_clouds_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-container {
  flex-wrap: wrap;
}
