.footer {
  background: linear-gradient(5deg, #ff00f7a1 40%, #b914cc 70%),
    url("../../assets/images/bg/beach_boat_clouds_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-container {
  flex-wrap: wrap;
}
