:root {
  --border-radius: 8px;
}

.featurecard {
  margin: 10px;
  border-radius: var(--border-radius);
  transition: 0.2s ease;
}

.featurecard:hover {
  transform: translateY(-5px);
}

.featurecard-expiry {
  background-color: var(--dark-grey);
  position: absolute;
  transform: translateY(-290px);
  height: 25px;
  padding: 0 10px;
  text-align: right;
  border-radius: 12px;
}

.featurecard-title {
  background-color: var(--red);
  position: absolute;
  height: 35px;
  padding: 0 10px;
}

.featurecard-top {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.featurecard-bottom {
  background-color: var(--white);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.featurecard-height {
  height: 320px;
}

.featurecard-grid {
  margin: 20px 0;
  grid-template-rows: 30px auto;
  grid-gap: 20px 0;
}

.featurecard-remarks {
  height: 40px;
}

@media (min-width: 768px) {
  .featurecard {
    max-width: 360px;
  }
}
