.header-container {
  background-color: var(--off-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header__contact--white {
  color: white;
  margin-right: 10px;
}

.header__container--right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
