.hero-background {
  background-image: url("../../assets/images/bg/test_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 20px 20px;
  position: relative;
  top: -40px;
}

.hero-background--angle {
  transform: skewY(-8deg);
}

.hero-background--reset-angle {
  transform: skewY(8deg);
}

.hero-title {
  margin: 40px 0;
}

.hero__hours-text {
  margin: 10px 0 100px;
}
