.hero {
  /* height: 100%; */
}

.hero-background {
  background-image: url("../../assets/images/bg/test_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -10px;
  padding: 70px 20px 20px;
  position: relative;
  top: -50px;
}

.hero-background--angle {
  transform: skewY(-10deg);
}

.hero-background--reset-angle {
  transform: skewY(10deg);
}

.hero-title {
  margin: 60px 0;
}

.hero__hours-text {
  margin: 5px 0 100px;
}
