.footer {
  position: relative;
  background: linear-gradient(
      var(--secondary-color-light),
      var(--secondary-color-transparent)
    ),
    url("../../assets/images/bg/footer_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
