@keyframes scroll {
  0% {
    transform: translateX(4500px);
  }
  100% {
    transform: translateX(calc(-250px * 15.5));
  }
}

.slider {
  height: 40px;
  margin: auto;
  overflow: hidden;
  position: relative;
  background-color: var(--off-white);
}

.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    var(--off-white) 5%,
    rgba(255, 255, 255, 0) 30%
  );
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 1;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 50s linear infinite;
  display: flex;
}

.slider .slide {
  height: 100px;
}
