.partnercard {
  flex-direction: column;

  max-width: 500px;
}

.partnercard:hover {
  transform: translateY(-5px);
}

.partnercard-left {
  background-color: var(--white);
}

.partnercard-right {
}

@media (min-width: 768px) {
  .partnercard {
    display: flex;
    flex-direction: row;
  }

  .partnercard-left {
    border-radius: 8px 0 0 8px;
  }

  .partnercard-right {
    border-radius: 0 8px 8px 0;
  }
}
