.bar {
  height: 2px;
  width: 20px;
  background: var(--white);
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.bar-1 {
  transform-origin: top left;
  margin-bottom: 5px;
}

.bar-3 {
  transform-origin: top left;
  margin-top: 5px;
}

.bar-1--open {
  transform: rotate(45deg);
  transform-origin: top left;
  margin-bottom: 5px;
}

.bar-2--open {
  opacity: 0;
  transform: translateX(-16px);
}

.bar-3--open {
  transform: translateX(-1px) rotate(-45deg);
  transform-origin: top left;
  margin-top: 5px;
}

.menu {
  position: absolute;
  top: -20px;
  right: 0;
  width: 100%;
  background-color: var(--white);
  border-radius: 3px;

  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  visibility: hidden;
  opacity: 0;
}

.menu--open {
  top: 0;
  right: 0;
  visibility: visible;
  opacity: 1;
}
