/* Global CSS Styles */

body {
  --primary-color: #5800ff;
  --primary-color-light: #00cbff;
  --secondary-color: #b914cc;
  --secondary-color-transparent: #b914cca1;
  --secondary-color-light: #ff00f6;
  --dark-grey: #444444;
  --light-grey: #777777;
  --white: #ffffff;
  --off-white: #f6f9fc;
  --red: #d90000;
  --black-transparent: #00000098;
  --transparent: #00000000;
}

/* Color Palette */

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.white {
  color: var(--white);
}

.off-white {
  color: var(--off-white);
}

.dark-grey {
  color: var(--dark-grey);
}

.light-grey {
  color: var(--light-grey);
}

.red {
  color: var(--red);
}

/* Elements */

h1,
h2,
h3 {
  font-weight: normal;
  color: var(--dark-grey);
}

a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p {
  margin: 0;
  color: var(--dark-grey);
}

ul:first-child {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

hr {
  border: 0.2px solid;
  border-color: var(--light-grey);
}

/* Position Modifiers */

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle {
  display: flex;
  align-items: center;
}

.top {
  display: flex;
  align-items: flex-start;
}

.bottom {
  display: flex;
  align-items: flex-end;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.wrap {
  flex-wrap: wrap;
}

/* Spacers */

.margin-none {
  margin: 0;
}

.margin-5 {
  margin: 5px;
}

.margin-x-5 {
  margin: 0 5px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-10 {
  margin: 10px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-y-10 {
  margin: 10px 0;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-x-20 {
  margin: 0 20px;
}

.margin-y-20 {
  margin: 20px 0;
}

.margin-20 {
  margin: 20px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-y-20 {
  margin: 20px 0;
}

.margin-50 {
  margin: 50px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-y-50 {
  margin: 50px 0;
}

.margin-list {
  margin: 10px;
}

.padding-5 {
  padding: 5px;
}

.padding-top-5 {
  padding-top: 5px;
}

.padding-y-5 {
  padding: 5px 0;
}

.padding-10 {
  padding: 10px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-20 {
  padding: 20px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-x-20 {
  padding: 0 20px;
}

.padding-y-20 {
  padding: 20px 0;
}

.padding-50 {
  padding: 50px;
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-y-50 {
  padding: 50px 0;
}

.padding-none {
  padding: 0;
}

.button-padding {
  padding: 15px;
}

.grid-columns-2 {
  display: grid;
  grid-template-columns: auto auto;
}

.textfield-width {
  width: 270px;
}

.full-width {
  width: 100%;
}

.label-spacing-left {
  padding-left: 15px;
}

/* Images */

.logo--x-small {
  height: 25px;
}

.logo--small {
  height: 40px;
}

.logo--medium {
  height: 50px;
}

.logo--large {
  height: 80px;
}

.icon--small {
  height: 20px;
}

.icon--medium {
  height: 50px;
}

.icon-circle {
  height: 35px;
  width: 35px;
  border: 2.5px solid;
  border-radius: 50%;
}

/* Fonts */

.font--small {
  font-size: 13px;
}

.font--medium {
  font-size: 16px;
}

.font--large {
  font-size: 21px;
}

.font--header {
  font-size: 28px;
}

.font--title {
  font-size: 32px;
}

.font--no-wrap {
  white-space: nowrap;
}

.font--center {
  text-align: center;
}

.bold {
  font-family: "Fira Sans Bold";
}

.semi-bold {
  font-family: "Fira Sans Semi Bold";
}

.thin {
  font-family: "Fira Sans Thin";
}

/* Shadows, Blurs & Opacity */

.font-shadow {
  text-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.box-shadow {
  -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  box-shadow: 0 12px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.card-shadow {
  -webkit-box-shadow: 0 9px 5px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -10px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  box-shadow: 0 9px 5px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -10px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  transition: 0.2s;
}

/* .card-shadow:hover {
  -webkit-box-shadow: 0 16px 27px 5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.25), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  box-shadow: 0 16px 27px 5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.25), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
} */

.button-shadow {
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: 0.2s;
}

.button-shadow:hover {
  -webkit-box-shadow: 0 6px 8px rgba(50, 50, 93, 0.21),
    0 1px 3px rgba(0, 0, 0, 0.16);
  box-shadow: 0 6px 10px rgba(50, 50, 93, 0.21), 0 1px 3px rgba(0, 0, 0, 0.16);
  transform: translateY(-1px);
}

.button-shadow:active {
  box-shadow: initial;
  transform: initial;
}

/* Buttons */

.button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  height: 10px;
}

.button-color-primary {
  background: linear-gradient(
    45deg,
    var(--primary-color) 30%,
    var(--primary-color-light) 100%
  );
}

.button-color-secondary {
  background: linear-gradient(
    45deg,
    var(--secondary-color) 30%,
    var(--secondary-color-light) 100%
  );
}

/* Cursors */

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

/* Dialog Animations */

.dialog {
  z-index: 2;
  top: -120px;
  transform: translateY(-120px);
  width: 95%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: var(--white);
  border-radius: 3px;
  transition: 0.3s ease;
  visibility: hidden;
  opacity: 0;
}

.dialog--open {
  transform: translateY(130px);
  visibility: visible;
  opacity: 1;
}

/* Horizontal Rules */

.vertical-rule {
  border: 0.5px solid;
  border-color: var(--off-white);
  height: 30px;
}

/* Responsive Modifiers */

.tablet,
.desktop {
  display: none;
}

/* Media Queries */

@media (min-width: 768px) {
  .mobile,
  .desktop {
    display: none;
  }

  .tablet {
    display: flex;
  }

  .responsive-width {
    max-width: 700px;
    margin: auto;
  }

  .hero-title {
    white-space: nowrap;
  }

  .font--title {
    font-size: 40px;
  }
}

@media (min-width: 992px) {
  .desktop {
    display: flex;
  }

  .responsive-width {
    max-width: 800px;
    margin: auto;
  }
}
