.hero {
  position: relative;
  height: 560px;
  background: url("../../assets/images/bg/home_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-container {
  margin-bottom: 5%;
  position: relative;
}

.hero-title {
  margin: 40px 0;
}

.hero__hours-text {
  margin: 10px 0 100px;
}
