.hero {
  position: relative;
  height: 380px;
}

.hero-container {
  margin-bottom: 5%;
  position: relative;
}

.herovideo {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero__hours-text {
  margin: 10px 0 100px;
}
