.header {
  justify-content: space-between;
  padding-bottom: 20px;
}

.header__container--right__link {
  color: white;
  padding: 0 15px 0 5px;
}

.header__container--right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
