/* Global CSS Styles */

:root {
  /* Colors */
  --primary-color: #5800ff;
  --secondary-color: #b914cc;
  --dark-grey: #444444;
  --white: #ffffff;
  --off-white: #e8e8e8;
}

/* Color Palette */
.white {
  color: var(--white);
}

.off-white {
  color: var(--off-white);
}

.dark-grey {
  color: var(--dark-grey);
}

/* Elements */
a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

ul:first-child {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

hr {
  border: 0.2px solid;
  border-color: var(--off-white);
}

/* Position Modifiers */
.align-middle {
  display: flex;
  align-items: center;
}

.align-top {
  display: flex;
  align-items: flex-start;
}

/* Spacers */
.button-padding {
  padding: 15px;
}

.grid-columns-2 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

/* Images */
.logo--xxs {
  height: 40px;
}

.logo--xs {
  height: 50px;
}

.icon--small {
  height: 18px;
}

.icon--medium {
  height: 20px;
}

/* Fonts */

.font--small {
  font-size: 12px;
}

.font--medium {
  font-size: 14px;
}

.font--large {
  font-size: 20px;
}

.bold {
  font-family: "Fira Sans Bold";
}

.semi-bold {
  font-family: "Fira Sans Semi Bold";
}

.thin {
  font-family: "Fira Sans Thin";
}
