/* Global CSS Styles */

:root {
  --primary-color: #5800ff;
  --primary-color-light: #00cbff;
  --secondary-color-light: #ff00f6;
  --secondary-color: #b914cc;
  --dark-grey: #444444;
  --light-grey: #777777;
  --white: #ffffff;
  --off-white: #e8e8e8;
  --red: #d90000;
}

/* Color Palette */

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.white {
  color: var(--white);
}

.off-white {
  color: var(--off-white);
}

.dark-grey {
  color: var(--dark-grey);
}

.light-grey {
  color: var(--light-grey);
}

.red {
  color: var(--red);
}

/* Elements */

a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

p {
  margin: 0;
}

ul:first-child {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

hr {
  border: 0.5px solid;
  border-color: var(--off-white);
}

/* Position Modifiers */

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle {
  display: flex;
  align-items: center;
}

.top {
  display: flex;
  align-items: flex-start;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

/* Spacers */

.margin-none {
  margin: 0;
}

.margin-10 {
  margin: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-20 {
  margin: 20px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-50 {
  margin-top: 50px;
}

.padding-10 {
  padding: 10px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-20 {
  padding: 20px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-none {
  padding: 0;
}

.button-padding {
  padding: 15px;
}

.grid-columns-2 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

.full-width {
  width: 100%;
}

/* Images */

.logo--small {
  height: 40px;
}

.logo--medium {
  height: 50px;
}

.icon--small {
  height: 18px;
}

.icon--medium {
  height: 20px;
}

.icon-circle {
  height: 35px;
  width: 35px;
  border: 1.5px solid;
  border-radius: 50%;
}

/* Fonts */

.font--small {
  font-size: 14px;
}

.font--medium {
  font-size: 16px;
}

.font--large {
  font-size: 22px;
}

.font--header {
  font-size: 30px;
}

.bold {
  font-family: "Fira Sans Bold";
}

.semi-bold {
  font-family: "Fira Sans Semi Bold";
}

.thin {
  font-family: "Fira Sans Thin";
}

/* Shadows, Blurs & Opacity */

.box-shadow {
  -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25);
}

.card-shadow {
  -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25);
}

/* Buttons */

.button {
  border-radius: 5px;
  height: 10px;
}

.button-color-primary {
  background: linear-gradient(
    45deg,
    var(--primary-color) 30%,
    var(--primary-color-light) 100%
  );
}

.button-color-secondary {
  background: linear-gradient(
    45deg,
    var(--secondary-color) 30%,
    var(--secondary-color-light) 100%
  );
}

.button-shadow {
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11);
  transition: 0.2s;
}

.button-shadow:active {
  -webkit-box-shadow: initial;
  box-shadow: initial;
}

/* Container Angles */

.angled-top {
  position: relative;
}

.angled-top:before {
  background: inherit;
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  transform: skewY(-8deg);
  -webkit-transform: skewY(-8deg);
  transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
}

.angled-bottom {
  position: relative;
  z-index: 1;
}

.angled-bottom:after {
  background: inherit;
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: skewY(-8deg);
  transform: skewY(-8deg);
  -webkit-transform-origin: 100%;
  transform-origin: 100%;
  z-index: -1;
}
