@keyframes flights {
  0% {
    transform: translateX(3900px);
  }
  100% {
    transform: translateX(calc(-250px * 15.5));
  }
}

@keyframes cruise {
  0% {
    transform: translateX(1550px);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  height: 40px;
  margin: auto;
  overflow: hidden;
  position: relative;
  background-color: var(--white);
}

.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    var(--white) 5%,
    rgba(255, 255, 255, 0) 30%
  );
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 1;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider {
  display: flex;
}

.slide-track-cruises {
  display: flex;
  animation: cruise 30s linear infinite;
}

.slide-track-flights {
  display: flex;
  animation: flights 50s linear infinite;
}

.slider .slide {
  height: 100px;
}
