:root {
  --border-radius: 8px;
}

.featuredflightcard {
  margin: 10px auto;
  margin-bottom: 35px;
  border-radius: var(--border-radius);
  transition: 0.2s ease;
  max-width: 380px;
}

.featuredflightcard-expiry {
  background-color: var(--dark-grey);
  position: absolute;
  transform: translateY(-240px);
  height: 25px;
  padding: 0 10px;
  text-align: right;
  border-radius: 12px;
}

.featuredflightcard-title {
  transform: translateY(-20px);
  background-color: var(--red);
  position: absolute;
  height: 35px;
  padding: 0 10px;
}

.featuredflightcard-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.featuredflightcard-bottom {
  background-color: var(--white);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.featuredflightcard-grid {
  grid-gap: 20px 10px;
}

.featuredflightcard-remarks {
  height: 80px;
}

@media (max-width: 412px) {
  .featuredflightcard {
    max-width: 95%;
  }
}

@media (min-width: 768px) {
  .featuredflightcard {
    max-width: 360px;
  }
}
