:root {
  --border-radius: 8px;
}

.featuredflightcard {
  margin: 10px;
  border-radius: var(--border-radius);
  transition: 0.2s ease;
}

.featuredflightcard:hover {
  transform: translateY(-5px);
}

.featuredflightcard-expiry {
  background-color: var(--dark-grey);
  position: absolute;
  transform: translateY(-290px);
  height: 25px;
  padding: 0 10px;
  text-align: right;
  border-radius: 12px;
}

.featuredflightcard-title {
  background-color: var(--red);
  position: absolute;
  height: 35px;
  padding: 0 10px;
}

.featuredflightcard-top {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.featuredflightcard-bottom {
  background-color: var(--off-white);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.featuredflightcard-height {
  height: 320px;
}

.featuredflightcard-grid {
  margin: 20px 0;
  grid-template-rows: 30px auto;
  grid-gap: 20px 0;
}

.featuredflightcard-remarks {
  height: 40px;
}

@media (min-width: 768px) {
  .featuredflightcard {
    max-width: 360px;
  }
}
